@font-face {
  font-family: spyagency;
  src: url("../../assets/Spy_Agency/spyagency3_2ital.ttf");
}
.cert-cont {
  min-height: 78vh;
  width: 100%;
  background-color: black;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;

  /* border: 1px solid red; */
}
.cert-title{
  font-family: spyagency;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 1.5cm;
}
.cert-hov {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: left;
}
.cert-pic{
    height: 70%;
    width: 80%;
}
.cert-hov span {
  font-size: 2.6rem;
  margin: 5% 0;
  /* border: 1px solid green; */
}
.cert-slider {
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.cert-hov span:hover {
  text-shadow: 7px 7px 40px rgba(255, 255, 255, 1);
  /* -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57); */
  transition: all 0.4s ease 0s;
  color: #0FD7F7;
  cursor: pointer;
}
