.h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: end;
}

.h2 {
    font-family: Fantasy;
}
.text-container1 {
    text-align: center;
    
}
.imghome1 {
    height: 400px;
    width: 400px;
}